<link rel="stylesheet" href="/vendor/bootstrap.css">
<link rel="stylesheet" href="/vendor/bootstrap-icons.css">
<link rel="stylesheet" href="/vendor/aos.css">

<link rel="stylesheet" href="/css/style.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/img/typsa.png" type="image/x-icon">
<title><%- titulo %></title>